body {
    background-image: url(img/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family : Roboto, sans-serif;
    height: 100%; 
    width: 100%; 
    margin: 0;
}
.bodyWrap {
    display: flex;
    width:1200px;
    height:1350px;
    margin: 0 auto;
    
}

.mainContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
   
}

.allianceWarrior {
    grid-column: 1;
    grid-row: 1;
}
.allianceSorcerer {
    grid-column: 1;
    grid-row: 3;
    margin-bottom:70px;
}
.allianceDwarf {
    grid-column:1;
    grid-row: 5;
}
.hordeWarrior {
    grid-column:8;
    grid-row: 1;
    
}
.hordeBloodElf {
    grid-column:8;
    grid-row:3;
    margin-bottom:70px;
}
.hordeUndead {
    grid-column:8;
    grid-row: 5;
}

/* #button1, #button2, #button3, #button4, #button5, #button6 { implementirani novi kopcinja
  width:150px;
  height:20px;
} */
.button2 {
  background: #3D4C53;
  margin : 10px auto;
  width : 150px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  grid-row:5;
}
.button3 {
  background: #3D4C53;
  margin : 10px auto;
  width : 150px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  grid-row:5;
}
.button4 {
  background: #3D4C53;
  margin : 10px auto;
  width : 150px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  grid-row:5;
}
.button5 {
  background: #3D4C53;
  margin : 10px auto;
  width : 150px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  grid-row:5;
}
.button6 {
  background: #3D4C53;
  margin : 10px auto;
  width : 150px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  grid-row:5;
}
.button7 {
  background: #3D4C53;
  margin : 10px auto;
  width : 150px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  grid-row:5;
}



.btnTwo3 {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 8px;
  background : #26A69A;
  left : -250px;
  transition : .5s;
}
.btnTwo4 {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 8px;
  background : #26A69A;
  left : -250px;
  transition : .5s;
}
.btnTwo5 {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 8px;
  background : #26A69A;
  left : -250px;
  transition : .5s;
}
.btnTwo6 {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 8px;
  background : #26A69A;
  left : -250px;
  transition : .5s;
}
.btnTwo7 {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 8px;
  background : #26A69A;
  left : -250px;
  transition : .5s;
}
.btnTwo8 {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 8px;
  background : #26A69A;
  left : -250px;
  transition : .5s;
}
.btnText {
  color : white;
  transition : .3s;
}

.btnText2 {
  margin-top : 83px;
  margin-right : -130px;
  color : #FFF;
}


.button2:hover .btnTwo3{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button2:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button2:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
.button3:hover .btnTwo4{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button3:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button3:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
.button4:hover .btnTwo5{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button4:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button4:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
.button5:hover .btnTwo6{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button5:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button5:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
.button6:hover .btnTwo7{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button6:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button6:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
.button7:hover .btnTwo8{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button7:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button7:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}


.Warriorflip-card1 {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    
  }
  
  .flip-card-inner1 {
    position: relative;
    width: 150px;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .Warriorflip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
  }
  
  .flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front1 {
    color: black;
    z-index: 2;
  }
  
  .flip-card-back1 {
    width:100%;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    text-align: center;
  }

  .Warriorflip-card2 {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .flip-card-inner2 {
    position: relative;
    width: 150px;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .Warriorflip-card2:hover .flip-card-inner2 {
    transform: rotateY(180deg);
  }
  
  .flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front2 {
    color: black;
    z-index: 2;
  }
  
  .flip-card-back2 {
    width:100%;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    text-align: center;
  }

  .Warriorflip-card3 {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .flip-card-inner3 {
    position: relative;
    width: 150px;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .Warriorflip-card3:hover .flip-card-inner3 {
    transform: rotateY(180deg);
  }
  
  .flip-card-front3, .flip-card-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front3 {
    /* background-image: url(img/background3.png); */
    color: black;
    z-index: 2;
  }
  
  .flip-card-back3 {
    width:100%;
    /* background-image: url(img/background.png); */
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    text-align: center;
  }

  .Warriorflip-card4 {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    
  }
  
  .flip-card-inner4 {
    position: relative;
    width: 150px;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .Warriorflip-card4:hover .flip-card-inner4 {
    transform: rotateY(180deg);
  }
  
  .flip-card-front4, .flip-card-back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front4 {
    /* background-image: url(img/background2.png); */
    color: black;
    z-index: 2;
  }
  
  .flip-card-back4 {
    width:100%;
    /* background-image: url(img/background.png); */
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    text-align: center;
  }

  .Warriorflip-card5 {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .flip-card-inner5 {
    position: relative;
    width: 150px;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .Warriorflip-card5:hover .flip-card-inner5 {
    transform: rotateY(180deg);
  }
  
  .flip-card-front5, .flip-card-back5 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front5 {
    /* background-image: url(img/background2.png); */
    color: black;
    z-index: 2;
  }
  
  .flip-card-back5 {
    width:100%;
    /* background-image: url(img/background.png); */
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    text-align: center;
  }

  .Warriorflip-card6 {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }
  
  .flip-card-inner6 {
    position: relative;
    width: 150px;
    height: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .Warriorflip-card6:hover .flip-card-inner6 {
    transform: rotateY(180deg);
  }
  
  .flip-card-front6, .flip-card-back6 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front6 {
    /* background-image: url(img/background2.png); */
    color: black;
    z-index: 2;
  }
  
  .flip-card-back6 {
    width:100%;
    /* background-image: url(img/background.png); */
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    text-align: center;
  }

  #img , #img2, #img3, #img4, #img5, #img6{
      width: 100%;
      height:100%;
  }

  .fightContainer {
    position:relative;
    grid-column:3/7;
    grid-row:3;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin-left:50px;
  }
  .fightLevo {
    position:relative;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    align-self: center;
    margin-left:10px;
  }
  .fightDesno {
    position:relative;
  }
#info {
  width:100%;
  height:50%;
  font-size:50px;
  font-weight: bold;
  grid-column:3/5;
  grid-row:3;
  font-weight: bold;
  
}
#info1 {
  margin-top:0 auto;
  /* padding-bottom:100px; */
  grid-column:5/7;
  grid-row:3;
  width:100%;
  height:50%;
  font-size:50px;
  font-weight: bold;
 
  
}

.holder{
  display:flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  width: 450px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-65%);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
  border-radius: 2px;
  grid-column:3/7;
  grid-row:4/5;
}
.button {
  background: #3D4C53;
  margin : 50px auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  
}
.button1 {
  background: #3D4C53;
  margin : 50px auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .4s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
 
}

.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : #26A69A;
  left : -250px;
  transition : .3s;
}
.btnTwo1 {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : #26A69A;
  left : -250px;
  transition : .5s;
}
.btnText {
  color : white;
  transition : .3s;
}

.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : #FFF;
}


.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
.button1:hover .btnTwo1 { /*When hovering over .button change .btnTwo2*/
  left: -130px;
}
.button1:hover .btnText { /*When hovering over .button change .btnText4*/
  margin-left : 65px;
}
.button1:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}





.healthBar1, .healthBar2, .healthBar3, .healthBar4, .healthBar5, .healthBar6{
  display:block;
  box-sizing: border-box;
  width: 150px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
  /* grid-row:3; */
  margin-top: 10px;
  margin-right:50px;
}

.bar1, .bar2, .bar3, .bar4, .bar5, .bar6 {
  background: #007f00;
  width: 100%;
  height: 10px;
  position: relative;
  transition: width .5s linear;
}

.hit1, .hit2, .hit3, .hit4, .hit5, .hit6 {
  background: #cc0000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  transition: width .5s linear;
}

.healthBarP{
  width:100%;
  color: white;
  text-align: center;
}
#damageP2 {
  width:90%;
  height:30px;
  color:white;
  text-align: center;
  font-size:20px;
  align-content: center;
  padding:0;
}
#damageP1 {
  width:90%;
  height:30px;
  color:white;
  order: 3;
  text-align:center;
  font-size:20px;
  align-content: center;
  padding:0;
}

.imgEND {
  width:200px;
  height:100px;
}


#damageP {
  width:90%;
  height:30px;
  color:white;
  order: 3;
  text-align:center;
  font-size:20px;
  align-content: center;
  padding:0;
}

.leftScreen {
  grid-column:3/5;
  grid-row:2;
}

.rightScreen {
  grid-column:5/7;
  grid-row:2;
}

.victoryImg {
  width:100%;
  height:100%;
  object-fit: contain;
  margin-left:20px;
  margin-top:10px;
}

.defeatImg {
  width:100%;
  height:100%;
  object-fit: contain;
  margin-left:20px;
  
}

.xMark {
  width:100%;
  height:100%;
  object-fit: contain;
  position:relative;
}